# JSON exercise

Download the data from [**here**](https://drive.google.com/file/d/1DGaX5AVfYhmWeb15lI-MzUbSKTYSz9fQ/view?usp=sharing) and answer following questions:
1. Find the 10 countries with most projects
2. What are top 10 sectors with projects?
3. Find the top 10 major project themes (using column 'mjtheme_namecode')
4. In 3. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
import numpy as np
import pandas as pd
import json
from pprint import pprint

In [2]:
# from pandas.io.json import json_normalize #
from pandas import json_normalize




# pd.read_json('json_columns.json') 

with open('world_bank_projects.json') as f:
    thejason = json.load(f)
#     pprint(thejason) dont print it yet because its too big
print(type(thejason))

<class 'list'>

In [14]:
print(type(json_normalize(thejason)))
json_normalize(thejason)

#Find the 10 countries with most projects
#project_name

<class 'pandas.core.frame.DataFrame'>

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,sector2.Percent,sector2.Name,sector4.Percent,sector4.Name,project_abstract.cdata,theme1.Percent,theme1.Name,sector3.Percent,sector3.Name,_id.$oid
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,26.0,Secondary education,12.0,Tertiary education,The development objective of the Second Phase ...,100,Education for all,16.0,Public administration- Other social services,52b213b38594d8a2be17c780
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,30.0,General public administration sector,NaN,NaN,NaN,30,Other economic management,NaN,NaN,52b213b38594d8a2be17c781
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,NaN,NaN,NaN,NaN,NaN,46,Regional integration,NaN,NaN,52b213b38594d8a2be17c782
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,NaN,NaN,NaN,NaN,NaN,50,Participation and civic engagement,NaN,NaN,52b213b38594d8a2be17c783
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,40.0,Other industry,NaN,NaN,The development objective of the Second Privat...,30,Export development and competitiveness,10.0,SME Finance,52b213b38594d8a2be17c784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,"[{'Name': 'General agriculture, fishing and fo...",N,OTHER,RE,"[Financial and private sector development, Soc...",0,THE COMPETITIVENESS COMPANY,Technological Scale Up for Youth-led Urban Orn...,"4,7",2013-08-31T00:00:00Z,...,50.0,Vocational training,NaN,NaN,NaN,50,Regulation and competition policy,NaN,NaN,52b213b38594d8a2be17c96f
496,[{'Name': 'Central government administration'}...,N,IDA,PE,"[Human development, Trade and integration, Pub...",20000000,MINISTRY OF FINANCE,Lao Eight Poverty Reduction Support,"8,5,2,8",2012-12-31T00:00:00Z,...,29.0,General finance sector,14.0,Health,The development objective of the Eighth Povert...,14,Child health,14.0,General education sector,52b213b38594d8a2be17c970
497,"[{'Name': 'Irrigation and drainage'}, {'Name':...",N,OTHER,RE,[Rural development],0,MINISTRY OF AGRICULTURE AND PRODUCER ORGANISAT...,Second Emergency Agricultural Productivity Sup...,"10,6",2014-12-31T00:00:00Z,...,35.0,Crops,NaN,NaN,NaN,100,Global food crisis response,25.0,Agricultural extension and research,52b213b38594d8a2be17c971
498,[{'Name': 'Agricultural extension and research...,N,IBRD,PE,"[Rural development, Rural development, Rural d...",0,INDONESIAN AGENCY FOR AGRICULTURAL RESEARCH AN...,Sustainable Management of Agricultural Researc...,"10,10,10",2017-09-30T00:00:00Z,...,15.0,"Public administration- Agriculture, fishing an...",NaN,NaN,The development objective of the Sustainable M...,85,Rural services and infrastructure,5.0,"Agro-industry, marketing, and trade",52b213b38594d8a2be17c972
499,"[{'Name': 'Urban Transport'}, {'Name': 'Public...",N,IDA,PE,"[Urban development, Human development, Trade a...",300000000,MINISTRY OF ROADS,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...,"9,8,5,4",2018-12-31T00:00:00Z,...,21.0,Public administration- Transportation,NaN,NaN,The objectives of the National Urban Transport...,1,Municipal governance and institution building,NaN,NaN,52b213b38594d8a2be17c973

In [4]:
thejason=pd.read_json('world_bank_projects.json')

In [5]:
thejason.columns

Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')

In [6]:
a=thejason['countryshortname'].value_counts()
country=pd.DataFrame(a)
country.head(10)

                    countryshortname
Indonesia                         19
China                             19
Vietnam                           17
India                             16
Yemen, Republic of                13
Bangladesh                        12
Nepal                             12
Morocco                           12
Africa                            11
Mozambique                        11

In [7]:

with open('world_bank_projects.json') as f:
    thejason = json.load(f)
json_normalize(data=thejason, record_path='mjtheme_namecode').groupby("name").count().sort_values(by=["code"], ascending=False)



# a=thejason['sector'].value_counts()
# sector=pd.DataFrame(a)
# sector=pd.DataFrame(sector)
# sector.head(10)

                                              code
name
Environment and natural resources management   223
Rural development                              202
Human development                              197
Public sector governance                       184
Social protection and risk management          158
Financial and private sector development       130
                                               122
Social dev/gender/inclusion                    119
Trade and integration                           72
Urban development                               47
Economic management                             33
Rule of law                                     12

In [8]:
# 3. Find the top 10 major project themes (using column 'mjtheme_namecode')

with open('world_bank_projects.json') as f:
    thejason = json.load(f)
json_normalize(data=thejason, record_path='mjtheme_namecode').groupby("name").count().sort_values(by=["code"], ascending=False)

                                              code
name
Environment and natural resources management   223
Rural development                              202
Human development                              197
Public sector governance                       184
Social protection and risk management          158
Financial and private sector development       130
                                               122
Social dev/gender/inclusion                    119
Trade and integration                           72
Urban development                               47
Economic management                             33
Rule of law                                     12

In [9]:
#4. In 3. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

with open('world_bank_projects.json') as f:
    thejason = json.load(f)

a = json_normalize(data=thejason, record_path='mjtheme_namecode')
b=a[a["name"]==""]
#print(a[a["code"]=='11'])
b["code"]
thelist=b["code"].values.tolist()
print(thelist)

c=a[a["code"].isin(thelist)]
d=c[c["name"]!=''].drop_duplicates()


# a.loc[(a.name == ''), 'name'] = 'empty' # loc is row , columns
dict_4 = {1:"Economic management", 2:"Economic management", 3:"Rule of law", 4:"Financial and private sector development",
          5:"Trade and integration", 6:"Social protection and risk management", 7: "Social dev/gender/inclusion", 8: "Human development",
          9:"Urban development",10:"Rural development", 11:"Environment and natural resources management"
         }

a['name'] = a['code'].apply(lambda x:dict_4.get(int(x)))

['11', '6', '8', '7', '2', '4', '2', '7', '4', '11', '7', '4', '8', '7', '10', '11', '4', '10', '4', '2', '7', '11', '4', '5', '11', '1', '10', '4', '6', '11', '4', '8', '11', '10', '2', '11', '2', '2', '9', '1', '7', '11', '10', '4', '11', '10', '8', '10', '11', '9', '2', '9', '2', '3', '4', '11', '2', '6', '10', '2', '8', '11', '7', '11', '3', '10', '11', '10', '7', '6', '11', '5', '10', '4', '7', '8', '5', '10', '6', '8', '8', '11', '11', '10', '11', '11', '1', '3', '8', '11', '8', '2', '7', '1', '7', '10', '2', '6', '6', '6', '4', '6', '8', '2', '4', '5', '4', '11', '2', '2', '11', '11', '11', '4', '8', '1', '11', '4', '11', '5', '8', '6']

In [10]:
a.head(10)

  code                                          name
0    8                             Human development
1   11  Environment and natural resources management
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                           Economic management
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion